@font-face{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: normal;
    src: url('../../../fonts/static/PublicSans-Regular.ttf');
}

@font-face {
    font-family: 'Sulphur Point';
    font-style: normal;
    font-weight: bold;
    src: url('../../../fonts/SulphurPoint-Bold.ttf');
}

.text {
    margin-top: 80px;
    text-align: center;
    
}



.text h2{
    font-family: 'Sulphur Point';
    line-height: 64px;
    font-size: 56px;
    color: #333333;
    margin-top: 21px;
}
.text p {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    margin-top: 9px;
    margin-bottom: 64px;
}



.images {
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
}
.images div{
    width: 370px;
}
.images img{
    width: 370px;
    height: 256px;
}


.images p {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    margin-top: 25px;
    margin-bottom: 10px;
    
}
.images span {
    font-family: 'Public Sans';
    line-height: 32px;
    font-size: 16px;
    color: #CCCCCC;
 
}